[submodule "layouts/shortcodes"]
	path = layouts/shortcodes
	url = git@github.com:aspose-html/hugo-shortcodes.git
	branch = main
[submodule "themes/lutsk-aspose-theme"]
	path = themes/lutsk-aspose-theme
	url = git@github.com:tpavel-aspose/lutsk-aspose-theme.git
	branch = main
